html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#posts {
    flex: 1;
}

#plus{
    font-size: 25px;
    margin-left: 10px;
    border-radius: 6px;
    padding: 0 6px;
    padding-bottom: 2px;
    transition: 0.5s ease;
}

#plus:hover{
    background-color: rgb(230, 228, 228);
}

#dots{
    font-size: 20px;
    margin-right: 10px;
    border-radius: 6px;
    padding: 6px 12px 12px;
    padding-bottom: 6px;
    transition: 0.5s ease;
}

#dots:hover{
    background-color: rgb(230, 228, 228);
}

#dropdown{
    margin-right: 5px;
}

#search{
    display: block;
    margin: 5px auto;
    width: 80%;
    border-radius: 5px;
    padding: 10px;
}

#btnAdd{
    display: block;
    margin: 0 auto;
    width: 70%;
    padding: 7px;
    background-color: gray;
    border-color: gray;
}

#btnAdd:hover{
    background-color: rgb(70, 69, 69);
    border-color: rgb(70, 69, 69);
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.threads {
    display: grid;
    grid-template-columns: 60px 1fr auto;
    grid-template-rows: auto auto;
    gap: 8px 16px;

    border: 1px solid rgb(122, 122, 122);
    padding: 12px;
}

.votes-box {
    grid-column: 1;
    grid-row: 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    grid-column: 2;
    grid-row: 1 / span 2;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    word-break: break-word;
}

.author {
    grid-column: 3;
    grid-row: 3;
    align-self: end;
    font-size: 0.9rem;
    color: gray;
}

.light-up{
    color: black;
}

.light-down{
    color: rgb(180, 180, 180);
}

.footer {
    color: rgb(161, 161, 161);
    padding: 10px;
    text-align: center;
}